In [46]:
import numpy as np
import pandas as pd

In [47]:
loc = 'D:\\School\\Semester3\\Seminar - Reproducibility\\seminar-toxicity\\data\\eye-irritation\\knime-qsar\\'

In [48]:
file = loc + 'pos.smiles.knime.csv'
df_input = pd.read_csv(file)

In [49]:
df_input.head()

        CASRN                                             SMILES
0  51581-32-9                             CN(C)C(=O)OC1=CN=CC=C1
1  35155-28-3  [H][C@]1(CO)CN(C)[C@]2([H])CC3=CN(C)C4=CC=CC(=...
2    289-95-2                                        C1=CN=CN=C1
3     77-78-1                                      COS(=O)(=O)OC
4     80-73-9                                      CN1CCN(C)C1=O

In [50]:
file = loc + 'pos.smiles_Summary_file.csv'
df_knime = pd.read_csv(file)

In [51]:
df_knime.head()

,RowID,Molecule name,Original_SMILES,Number of connected components,Canonical_QSARr,InChI_Code_QSARr,InChI Key_QSARr,Salt_Solvent,Salt_Solvent_ID
0,1,Molecule_1,CN(C)C(=O)OC1C=CC=NC=1,1,CN(C)C(=O)OC1C=CC=NC=1,InChI=1S/C8H10N2O2/c1-10(2)8(11)12-7-4-3-5-9-6...,VZELUFSMNDBCBO-UHFFFAOYSA-N,NaN,0
1,2,Molecule_2,CN1C=C2CC3N(C)CC(CO)CC3(OC)C3C=CC=C1C=32,1,CN1C=C2CC3N(C)CC(CO)CC3(OC)C3C=CC=C1C=32,InChI=1S/C18H24N2O2/c1-19-10-13-7-16-18(22-38-...,LVXVIPZBNJSUKL-UHFFFAOYSA-N,NaN,0
2,3,Molecule_3,C1N=CC=CN=1,1,C1N=CC=CN=1,InChI=1S/C4H4N2/c1-2-5-4-6-3-1/h1-4H,CZPWVGJYEJSRLH-UHFFFAOYSA-N,NaN,0
3,4,Molecule_4,COS(=O)(=O)OC,1,COS(=O)(=O)OC,InChI=1S/C2H6O4S/c1-5-7(34)6-2/h1-2H3,VAYGXNSJCAHWJZ-UHFFFAOYSA-N,NaN,0
4,5,Molecule_5,CN1CCN(C)C1=O,1,CN1CCN(C)C1=O,InChI=1S/C5H10N2O/c1-6-3-4-7(2)5(6)8/h3-4H21-2H3,CYSGHNMQYZDMIA-UHFFFAOYSA-N,NaN,0

In [52]:
df_input['RowID'] = df_input.index + 1

In [53]:
df_input.head()

        CASRN                                             SMILES  RowID
0  51581-32-9                             CN(C)C(=O)OC1=CN=CC=C1      1
1  35155-28-3  [H][C@]1(CO)CN(C)[C@]2([H])CC3=CN(C)C4=CC=CC(=...      2
2    289-95-2                                        C1=CN=CN=C1      3
3     77-78-1                                      COS(=O)(=O)OC      4
4     80-73-9                                      CN1CCN(C)C1=O      5

In [54]:
df_knime.shape, df_input.shape

((3368, 9), (3952, 3))

In [55]:
df_merged = df_knime.merge(df_input, on='RowID', how='left')

In [56]:
df_merged.head()

,RowID,Molecule name,Original_SMILES,Number of connected components,Canonical_QSARr,InChI_Code_QSARr,InChI Key_QSARr,Salt_Solvent,Salt_Solvent_ID,CASRN,SMILES
0,1,Molecule_1,CN(C)C(=O)OC1C=CC=NC=1,1,CN(C)C(=O)OC1C=CC=NC=1,InChI=1S/C8H10N2O2/c1-10(2)8(11)12-7-4-3-5-9-6...,VZELUFSMNDBCBO-UHFFFAOYSA-N,NaN,0,51581-32-9,CN(C)C(=O)OC1=CN=CC=C1
1,2,Molecule_2,CN1C=C2CC3N(C)CC(CO)CC3(OC)C3C=CC=C1C=32,1,CN1C=C2CC3N(C)CC(CO)CC3(OC)C3C=CC=C1C=32,InChI=1S/C18H24N2O2/c1-19-10-13-7-16-18(22-38-...,LVXVIPZBNJSUKL-UHFFFAOYSA-N,NaN,0,35155-28-3,[H][C@]1(CO)CN(C)[C@]2([H])CC3=CN(C)C4=CC=CC(=...
2,3,Molecule_3,C1N=CC=CN=1,1,C1N=CC=CN=1,InChI=1S/C4H4N2/c1-2-5-4-6-3-1/h1-4H,CZPWVGJYEJSRLH-UHFFFAOYSA-N,NaN,0,289-95-2,C1=CN=CN=C1
3,4,Molecule_4,COS(=O)(=O)OC,1,COS(=O)(=O)OC,InChI=1S/C2H6O4S/c1-5-7(34)6-2/h1-2H3,VAYGXNSJCAHWJZ-UHFFFAOYSA-N,NaN,0,77-78-1,COS(=O)(=O)OC
4,5,Molecule_5,CN1CCN(C)C1=O,1,CN1CCN(C)C1=O,InChI=1S/C5H10N2O/c1-6-3-4-7(2)5(6)8/h3-4H21-2H3,CYSGHNMQYZDMIA-UHFFFAOYSA-N,NaN,0,80-73-9,CN1CCN(C)C1=O

In [57]:
df_merged.shape

(3368, 11)

In [58]:
print('smiles matches = ', np.sum(df_merged['Original_SMILES'] == df_merged['SMILES']))

smiles matches =  1356

In [59]:
df_merged[np.logical_not(df_merged['Original_SMILES'] == df_merged['SMILES'])]

,RowID,Molecule name,Original_SMILES,Number of connected components,Canonical_QSARr,InChI_Code_QSARr,InChI Key_QSARr,Salt_Solvent,Salt_Solvent_ID,CASRN,SMILES
0,1,Molecule_1,CN(C)C(=O)OC1C=CC=NC=1,1,CN(C)C(=O)OC1C=CC=NC=1,InChI=1S/C8H10N2O2/c1-10(2)8(11)12-7-4-3-5-9-6...,VZELUFSMNDBCBO-UHFFFAOYSA-N,NaN,0,51581-32-9,CN(C)C(=O)OC1=CN=CC=C1
1,2,Molecule_2,CN1C=C2CC3N(C)CC(CO)CC3(OC)C3C=CC=C1C=32,1,CN1C=C2CC3N(C)CC(CO)CC3(OC)C3C=CC=C1C=32,InChI=1S/C18H24N2O2/c1-19-10-13-7-16-18(22-38-...,LVXVIPZBNJSUKL-UHFFFAOYSA-N,NaN,0,35155-28-3,[H][C@]1(CO)CN(C)[C@]2([H])CC3=CN(C)C4=CC=CC(=...
2,3,Molecule_3,C1N=CC=CN=1,1,C1N=CC=CN=1,InChI=1S/C4H4N2/c1-2-5-4-6-3-1/h1-4H,CZPWVGJYEJSRLH-UHFFFAOYSA-N,NaN,0,289-95-2,C1=CN=CN=C1
5,6,Molecule_6,NC1C=CC(O)=CC=1[N+]([O-])=O,1,NC1C=CC(O)=CC=1[N+]([O-])=O,InChI=1S/C6H6N2O3/c7-5-2-1-4(9)3-6(5)8(10)11/h...,IQXUIDYRTHQTET-UHFFFAOYSA-N,NaN,0,610-81-1,NC1=C(C=C(O)C=C1)[N+]([O-])=O
6,7,Molecule_7,NCCNCCCN,1,NCCNCCCN,InChI=1S/C5H15N3/c6-2-1-4-8-5-3-7/h8H1-7H2,DTSDBGVDESRKKD-UHFFFAOYSA-N,NaN,0,13531-52-7,NCCCNCCN
...,...,...,...,...,...,...,...,...,...,...,...
3362,3940,Molecule_3940,NC(=N)O.ON(=O)=O,2,NC(=N)O,InChI=1S/CH4N2O/c2-1(3)4/h(H4234),XSQUKJJJFZCRTK-UHFFFAOYSA-N,ON(=O)=O,1755,124-47-0,NC(O)=N.ON(=O)=O
3363,3942,Molecule_3942,[Zn+2].CCCCN(CCCC)C([S-])=S.CCCCN(CCCC)C([S-])=S,3,CCCCN(CCCC)C(S)=S,InChI=1S/C9H19NS2/c1-3-5-7-10(9(11)12)8-6-4-2/...,SZRLKIKBPASKQH-UHFFFAOYSA-N,[Zn+2],300,136-23-2,[Zn++].CCCCN(CCCC)C([S-])=S.CCCCN(CCCC)C([S-])=S
3364,3943,Molecule_3943,[Zn+2].CCN(CC)C([S-])=S.CCN(CC)C([S-])=S,3,CCN(CC)C(S)=S,InChI=1S/C5H11NS2/c1-3-6(4-2)5(7)8/h3-4H21-2H3...,LMBWSYZSUOEYSN-UHFFFAOYSA-N,[Zn+2],300,14324-55-1,[Zn++].CCN(CC)C([S-])=S.CCN(CC)C([S-])=S
3365,3944,Molecule_3944,[Zn+2].CN(C)C([S-])=S.CN(C)C([S-])=S,3,CN(C)C(S)=S,InChI=1S/C3H7NS2/c1-4(2)3(5)6/h1-2H3(H56),MZGNSEAPZQGJRB-UHFFFAOYSA-N,[Zn+2],300,137-30-4,[Zn++].CN(C)C([S-])=S.CN(C)C([S-])=S
3367,3950,Molecule_3950,[Zn+2].CCCCCCCCCCCCCCCCCC([O-])=O.CCCCCCCCCCCC...,3,CCCCCCCCCCCCCCCCCC(O)=O,InChI=1S/C18H36O2/c1-2-3-4-5-6-7-8-9-10-11-12-...,QIQXTHQIDYTFRH-UHFFFAOYSA-N,[Zn+2],300,557-05-1,[Zn++].CCCCCCCCCCCCCCCCCC([O-])=O.CCCCCCCCCCCC...

In [60]:
filter = ['CASRN', 'Canonical_QSARr']
df = df_merged[filter].drop_duplicates(subset=['Canonical_QSARr'])

In [61]:
df.head()

        CASRN                           Canonical_QSARr
0  51581-32-9                    CN(C)C(=O)OC1C=CC=NC=1
1  35155-28-3  CN1C=C2CC3N(C)CC(CO)CC3(OC)C3C=CC=C1C=32
2    289-95-2                               C1N=CC=CN=1
3     77-78-1                             COS(=O)(=O)OC
4     80-73-9                             CN1CCN(C)C1=O

In [62]:
df.shape

(2997, 2)

In [63]:
file = loc + 'pos.smiles.knime.out.csv'
# df.to_csv(file, index=False)

#### Removing dups after combining

In [64]:
loc = 'D:\\School\\Semester3\\Seminar - Reproducibility\\seminar-toxicity\\data\\eye-irritation\\'

In [65]:
file = loc + 'combined.csv'
df_combined = pd.read_csv(file)

In [66]:
df_combined.head()

        CASRN                                    SMILES  Activity
0  51581-32-9                    CN(C)C(=O)OC1C=CC=NC=1         1
1  35155-28-3  CN1C=C2CC3N(C)CC(CO)CC3(OC)C3C=CC=C1C=32         1
2    289-95-2                               C1N=CC=CN=1         1
3     77-78-1                             COS(=O)(=O)OC         1
4     80-73-9                             CN1CCN(C)C1=O         1

In [67]:
df_combined.shape

(4567, 3)

In [68]:
df_unique = df_combined.drop_duplicates(subset=['SMILES'], keep=False)

In [69]:
df_unique.shape

(3877, 3)

In [70]:
print('pos class =', df_unique[df_unique['Activity'] == 1].shape)
print('neg class =', df_unique[df_unique['Activity'] == 0].shape)

pos class = (2652, 3)
neg class = (1225, 3)

In [71]:
outfile = loc + 'data.csv'
# df_unique.to_csv(outfile, index=False)